* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100svh;
}
.container {
  position: relative;
  width: 752px;
  height: 502px;
}
.container img {
  width: 752px;
  height: 502px;
}
.container svg {
  width: 753px;
  height: 447px;
  position: absolute;
  top: 0;
  left: -3px;
}

.section-red,
.section-blue,
.section-yellow,
.section-pink,
.section-green {
  transition: 0.3s;
  opacity: 0;
}

.section-red:hover,
.section-blue:hover,
.section-yellow:hover,
.section-pink:hover,
.section-green:hover {
  opacity: 1;
  mix-blend-mode: multiply;
}
