* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container img {
  width: 510px;
}
.container svg {
  position: absolute;
  top: 47%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.container svg:hover{
    mix-blend-mode: multiply;
}
.part {
  transition: .3s;
  opacity: 0;
}
.part:hover {
  opacity: 1;
}